<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <div><img class="header__logo" src="/images/logo.png"></div>
                <div class="header__nav"> 
                        <ul>
                            <li><a href="/"><img class="header__nav--icon icon1">Home</a></li> 
                            <li><a href="https://looklive.com/discover/"><img class="header__nav--icon icon2">Latest</a></li> 
                            <li><a href="https://looklive.com/people/"><img class="header__nav--icon icon3">People</a></li> 
                            <li><a href="https://looklive.com/shows/"><img class="header__nav--icon icon4">Shows</a></li>
                            <li><a href="https://looklive.com/music/"><img class="header__nav--icon icon5">Music</a></li>
                            <li><a href="https://looklive.com/brands/"><img class="header__nav--icon icon6">Brands</a></li>
                        </ul>
                </div>

                <picture class="header__banner">
                    <source srcset="/images/header_1600.jpg" media="(min-width: 1600px)">
                    <source srcset="/images/header_1280.jpg" media="(min-width: 1280px)">
                    <source srcset="/images/header_1024.jpg" media="(min-width: 1024px)">
                    <source srcset="/images/header_620.jpg" media="(min-width: 620px)">
                    <source srcset="/images/header_320.jpg" media="(min-width: 320px)">
                    <img class="header__banner__img" src="/images/header_1024.jpg" alt="header">
                 </picture>
                
        </div>

        <main class="main">
            {{{body}}} <!-- this is your feed.hbs -->
        </main>
    </body>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>
<!--     <script src='http://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/DrawSVGPlugin.js?r=11'></script>
 -->    <script src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js"></script>
    <script src="/js/app.js"></script>
</html>
