main {
    padding: 50px;
    overflow: hidden;

    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

body {
    font: 14px Raleway, Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 21px;
    padding-left: 1em;
}

h2 {
    font-size: 16px;
    padding-left:1em;
}

.h2_frontpage {
    font-size: 16px;
    padding-left: 1em;
    margin-top: 1.2em;
}

 a {
    color: #00B7FF;
}

ul {
    list-style: none;
    float: right;
    margin: 0 auto;
}

 li {
    float: left;
    height: 100%;
    line-height: 30px;
    margin-right: 15px;
}

figure {
    margin: 0
}
figure img {
    width: 100%
}

.avatar{
    width: 2em;
    height: 2em;
    margin-right: .5em;
    border-radius: 50%;
    float: left;
    margin-top: 1em;
}

header {
    background-color: #252525;
    padding: .5em 1em;
}

.header__logo {
    height: 30px;
    display: block;
    float: left;
}

 /*nieuw*/
.header__nav--icon{
    content: '';
    display: inline-block;
    background: url('/icons/sprite/sprite.png') no-repeat;
    -webkit-background-size: 773px 97px;
    background-size: auto 100%;
}

.icon1 {
    width: 39px;
    height: 33px;
    background-position: 0px 0px;
}

.icon2 {
    width: 38px;
    height: 33px;
    background-position: -40px 0;
}

.icon3 {
    width: 38px;
    height: 33px;
    background-position: -77px 0;
}

.icon4 {
    width: 38px;
    height: 33px;
    background-position: -124px 0;
}

.icon5 {
    width: 38px;
    height: 33px;
    background-position: -173px 0;
}

.icon6 {
    width: 38px;
    height: 33px;
    background-position: -219px 0;
}
.header li a:hover {
    color: #d84a4a;
}

 .header__banner {
    width: 100%;
    height: 50vh;
    max-height: 56vw;
    overflow: hidden;
    display: block;
}

 .header__banner__img {
    width: 100%;
 }


.main__feed {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

 .main__feed__item {
    width: 300px;
    height: 600px;
    margin: .5em;
}


.product__section, 
.image__section {
    float: left;
}


.main__feed__item__img {
    margin-top: 0;
    font-size: 21px;
}

/*appearance*/
.image__section {
    width: 400px;
    height: 600px;
    margin-right: 2em;
    position: relative;
}

/*hier nog naar kijken*/
.product-indicator {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00B7FF;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.product-indicator.product-indicator-active {
    background-color: #b4da55;
}

.appearance__products--inner {
    width: 535px;
    position: relative;
    overflow: hidden;
    height: 774px;
}

/*aangepast*/
.appearance__products--inner .product {
    width: 450px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(5em);
    transform: translateX(.3s);

/*    transition: transform .3s;
*//*    transition: left .3s;
*/}

.appearance__products--inner .product.product-active {
    left: 0;
}


.appearance__products  {
    font-size: 21px;
    color: #333;
    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}

.actual, 
.similar {
    display: -webkit-flex;
    display: flex;

    padding-bottom: .5em;
    border-bottom: 1px solid #ddd;
}


body .similar .image {
    width: 150px;
}

.actual .image,
.similar .image  {
    margin: .5em 0;
    color: #333;a
    font-size: 16px;
    border-bottom: none;
    width: 200px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 1em;
}


.info  {
    font-size: 21px;
    margin: 1.5em 0 .5em 0;
    border-bottom: none;
}

.info h1 {
    font-size: 21px;
    margin: 1.8em 0;
}

.info h2 {
    font-size: 16px;
    margin: 1em 0;
    color: red;
}

.hide {
    display: none;
}

#animation {
    position: fixed;
    bottom: 0px;
    left: 37em;
    z-index: 1;
}

#dustall {
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

#rocket{
/*    position: absolute;
*/  width: 100%;
    margin: 0 auto;
    transform-origin: 50% 50%;
    z-index: 2;
}


